[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn

[dn]
emailAddress = my@emailaddress.com
CN = mcgw.ff.lan

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = mcgw.ff.lan
DNS.2 = db.mcgw.ff.lan
DNS.3 = api.mcgw.ff.lan
DNS.4 = api.ff.lan
